{% extends 'templates/common_selfservice.html' %}
{% block title %}Innmelding KARN{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Bli medlem i Klubb Alfa Romeo!</h1>
            <br />
            <span>Som medlem i Norges største italienske bilklubb får du:</span>
            <br />
            <ul>
                <li>Velkomstpakke med Alfanytt, klistremerker og gyldig medlemskort</li>
                <li>Magasinet Alfanytt levert i din postkasse 4 ganger i året</li>
                <li>Mulighet til å handle i klubbshoppen «Bottega»</li>
                <li>Klubbrabatt på verksteder, restauranter og i butikker over hele landet</li>
                <li>Invitasjoner til lokale treff, banekjøring, fellesturer og Italiensk Dag</li>
                <li>Gunstig veteranbilforsikring</li>
            </ul>
            <br />
            <p>
                Medlemskap for 2018 koster kr 500,-.
                <br /><br />
                Etter den 1. juli betaler du halv kontingent. Hvis du betaler full kontingent etter den 1. november blir du medlem for neste år også.
                <br />
                Fyll inn feltene nedenfor og trykk på knappen «Jeg vil bli medlem». 
                <br />
                Du vil deretter automatisk motta en epost med innbetalingsgiro. 
                <br />
                Betal giroen med én gang, så du ikke går glipp av neste Alfanytt. 
                <br />
                Jo raskere du betaler, desto raskere vil du motta velkomstpakken med det gyldige medlemskortet. 
                <br />
                Ta kontakt med klubbens kasserer, <a href="mailto:kasserer@klubbalfaromeo.no">kasserer@klubbalfaromeo.no</a>, om du ikke har fått noen epost tilsendt.
            </p>
            <br />
        </div>
    </div>
    {% if incomplete %}
        {% if error_message %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        </div>
    </div>
        {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                Ett eller flere felt i skjemaet er ikke fylt ut!
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group {% if 'name' in complete %}has-success has-feedback{% endif %} {%if 'name' in incomplete %}has-error has-feedback{% endif %}">
                    <label for="name" class="col-sm-4 control-label">Navn</label>
                    <div class="col-sm-6">
                        <input type="textr" class="form-control" id="name" name="name"
                            placeholder="Navn" value="{{ values['name'] }}"  required="1"/>
                        {% if 'name' in incomplete %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{%endif%}
                        {% if 'name' in complete %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{%endif%}
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group {% if 'address' in complete %}has-success has-feedback{% endif %} {%if 'address' in incomplete %}has-error has-feedback{% endif %}">
                    <label for="address" class="col-sm-4 control-label">Adresse</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="address" name="address"
                            placeholder="Adresse" value="{{ values['address'] }}"  required/>
                        {% if 'address' in incomplete %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{%endif%}
                        {% if 'address' in complete %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{%endif%}
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group {% if 'zipcity' in complete %}has-success has-feedback{% endif %} {%if 'zipcity' in incomplete %}has-error has-feedback{% endif %}">
                    <label for="zip" class="col-sm-4 control-label">Postnr/sted</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="zip" name="zip"
                        placeholder="Postnr" value="{{ values['zip'] }}"  required="1"/>
                        {% if 'zipcity' in incomplete %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{%endif%}
                        {% if 'zipcity' in complete %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{%endif%}
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="city" name="city"
                        placeholder="Poststed" value="{{ values['city'] }}"  required="1"/>
                        {% if 'zipcity' in incomplete %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{%endif%}
                        {% if 'zipcity' in complete %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{%endif%}
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-4 control-label">Land</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="country">
                            {% for country in countries %}
                            <option value="{{ country.key() }}"{%
                            if (values['country'] and values['country'] == country.name) or 'Norge' == country.name
                            %} selected="1" {%
                            endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>

                </div>

                <div class="form-group {% if 'email' in complete %}has-success has-feedback{% endif %} {%if 'email' in incomplete %}has-error has-feedback{% endif %}">
                    <label for="mail" class="col-sm-4 control-label">Epost</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" name="email" placeholder="epost"
                            value="{{ values['email'] }}" required="1"/>
                        {% if 'email' in incomplete %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{%endif%}
                        {% if 'email' in complete %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{%endif%}
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobile" class="col-sm-4 control-label">Telefon</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="mobile" name="mobile" value="{{ values['mobile'] }}" placeholder="Mobil"/>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="home" name="home" value="{{ values['home'] }}" placeholder="Telefon hjem"/>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="work" name="work" value="{{ values['work'] }}" placeholder="Telefon arbeid"/>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment" class="col-sm-4 control-label">Eventuelle kommentarer</label>
                    <div class="col-sm-6">
                        <textarea id="comment" name="comment" rows="4" class="form-control">{{ values['work'] }}</textarea>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <button type="submit" name="store" value="1" class="btn btn-primary">Jeg vil bli medlem!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="http://www.klubbalfaromeo.no/">Tilbake til Klubb Alfa Romeo Norges hjemmeside</a>
        </div>
    </div>
</div>
{% endblock %}
